@page "/"
@inject IJSRuntime JsRuntime;
<PageTitle>Index</PageTitle>

<div id="CarouselControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#CarouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#CarouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#CarouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/Carousel-Item-1.jpeg" class="d-block w-100" alt="Carousel Img">
            <div class="carousel-caption d-none d-md-block">
                <h5>Orbiting a Red Dwarf Star</h5>
                <p>This artist's concept shows exoplanet Kepler-1649c orbiting around its host red dwarf star</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/Carousel-Item-2.jpg" class="d-block w-100" alt="Carousel Img">
            <div class="carousel-caption d-none d-md-block">
                <h5>Kate Rubins Works to Upgrade the Space Station</h5>
                <p>This image, taken on March 5, 2021, shows NASA astronaut Kate Rubins during a spacewalk to install solar array modification kits on the station</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/Carousel-Item-3.jpg" class="d-block w-100" alt="Carousel Img">
            <div class="carousel-caption d-none d-md-block">
                <h5>Good Morning From the Space Station</h5>
                <p>Good morning to our beautiful world, said astronaut Anne McClain from aboard the Space Station on Feb. 21, 2019.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#CarouselControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#CarouselControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("startCarousels");
        }
    }
}