@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink class="nav-link" href="apod">NASA Apod</NavLink>
            <NavLink class="nav-link" href="mars">Mars</NavLink>
            <NavLink class="nav-link" href="iss">ISS Tracker</NavLink>
            <NavLink class="nav-link" href="astronauts">Astronauts in Space</NavLink>
            <NavLink class="nav-link" href="game">Game</NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
